

* {
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #333;
  height: 300px;
    outline: 2px solid transparent;
    transition: 0.3s;
}

.note:hover {
outline: 2px solid black;
      transition: 0.3s;
}
.note .date {
  font-size: 12px;
  margin-bottom: 5px;
}

.note .category {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.note .content {
  flex-grow: 1;
  overflow: auto;
  font-size: 18px;
}

.note .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.note .actions button {
appearance: none;
background-color: transparent;
border: 1px solid #1A1A1A;
border-radius: 15px;
box-sizing: border-box;
color: #3B3B3B;
cursor: pointer;
display: inline-block;
font-size: 16px;
font-weight: 600;
line-height: normal;
margin: 0;
height: 30px;
width: 30px;
outline: none;
padding: 10px 10px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
will-change: transform;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
opacity: 0.4;
}

.note .actions button:disabled {
pointer-events: none;
}

.note .actions button:hover {
color: #fff;
background-color: #1A1A1A;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
opacity: 1;
}

.note .actions button:active {
box-shadow: none;
transform: translateY(0);
}

.color-picker {
  display: flex;
  align-items: center;
}

.color-picker label {
  margin-right: 10px;
}

.color-picker input[type="radio"] {
  display: none;
}

.color-picker input[type="radio"] + span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-picker input[type="radio"]:checked + span {
  border: 2px solid #555;
}

.color-picker .yellow span {
  background-color: #FFEEB2;
}

.color-picker .green span {
  background-color: #B2FFD6;
}

.color-picker .blue span {
  background-color: #B2D9FF;
}

    .color-picker .red span {
  background-color: #ffb2b2;
}

.add-note-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin: 20px;
  padding: 35px;
  background-color: white;
  border-radius: 20px;
      gap: 20px;
      position: sticky;
top: 15px;
}

.add-note-form textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #F3F3F3; /* Added grey background color */
}

.add-note-form input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #F3F3F3; /* Added grey background color */
}

.add-note-form button {
appearance: none;
background-color: transparent;
border: 1px solid #1A1A1A;
border-radius: 15px;
box-sizing: border-box;
color: #3B3B3B;
cursor: pointer;
display: inline-block;
font-size: 16px;
font-weight: 600;
line-height: normal;
margin: 0;
min-height: 60px;
min-width: 0;
outline: none;
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: 100%;
will-change: transform;
}

.add-note-form button:disabled {
pointer-events: none;
}

.add-note-form button:hover {
color: #fff;
background-color: #1A1A1A;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.add-note-form button:active {
box-shadow: none;
transform: translateY(0);
}

.search-form {
    margin-top: 20px;
    width: 85%;
}

.search-form input[type="text"] {
width: 100%;
padding: 20px!important;
}

#note-category {
padding: 15px;
border-radius: 10px;
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#export-notes {
    background-color: transparent!important;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
}

#export-notes:disabled {
pointer-events: none;
}

#export-notes:hover {
    background-color: var(--primary-color)!important; 
    color: white;
    border: 1px solid var(--primary-color);
}

#export-notes:active {

}
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
-webkit-animation: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

#edit-note-form {
      display: flex;
flex-direction: column;
    gap: 20px;
}

@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.color-swatch.selected {
  border: 2px solid #000;
}

.color-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.color-dropdown .color-swatch {
  margin-right: 5px;
}

.note:hover .color-dropdown {
  display: block;
}

.color-swatches-container {
  display: inline-block;
  position: relative;
}

.color-swatches-container .color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.color-swatches-container .color-swatch.show-all {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
  display: none;
}

.color-swatches-container.show-all .color-swatch {
  display: inline-block;
  position: relative;
  z-index: 0;
}

