
  #tweet {
    font-size: 20px;
    margin-top: 20px;
  }
  #tweet-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  #saved-tweets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;;
  }
  .tweet-container {
    margin-bottom: 10px;
    padding: 25px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: calc((100% - (20px * 2)) / 3);
  }

.tweet-container:hover {
  background-color: #f0f0f0;
}

.delete-button {
  color: #bb3838;
  background-color: transparent;
  outline: 1px solid #bb3838;
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ffd7d7;
        transition: 0.2s;
}
  .tweet-button {
      background-color: var(--primary-color);
      color: var(--background);
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;
  }

  .tweet-button:hover {
    background-color: #4d4d4d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
          transition: 0.2s;
  }


  .tweet-date {
font-size: 14px;
  color: #1C172C;
  padding: 10px;
  padding-left: 15px;
  background: #B2D7FF;
  border-radius: 8px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
  .button-container {
    display: flex;
    gap: 10px;
  }



  #generate-tweet-button {
    background-color: var(--primary-color);
    color: var(--background);
    padding: 10px 30px;
min-width: 160px;
    height: 72px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

 #generate-tweet-button:hover {
    background-color: #1a1a1a; /* Darken the color on hover */
  }

  .top-wrapper {
    padding: 0px;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .tweet-wrapper {
    display: none;
  }

  #product-link {
    padding: 20px;
    min-height: 72px;
    min-width: 615px;
  }
